[submodule "week2/nfts-and-staking/lib/forge-std"]
	path = week2/nfts-and-staking/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week2/nfts-and-staking/lib/openzeppelin-contracts"]
	path = week2/nfts-and-staking/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "uniswap-clone/lib/forge-std"]
	path = uniswap-clone/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "uniswap-clone/lib/solady"]
	path = uniswap-clone/lib/solady
	url = https://github.com/vectorized/solady
[submodule "uniswap-clone/lib/openzeppelin-contracts"]
	path = uniswap-clone/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "week2-copy/lib/forge-std"]
	path = week2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week2-copy/lib/openzeppelin-contracts"]
	path = week2/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "week7-fuzzing/dex/lib/openzeppelin-contracts"]
	path = week7-fuzzing/dex/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "security1/ethernaut-solutions/lib/forge-std"]
	path = ethernaut-solutions/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "security1/ethernaut-solutions/lib/openzeppelin-contracts"]
	path = ethernaut-solutions/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "yul-erc1155/lib/forge-std"]
	path = yul-erc1155/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "yul-erc1155/lib/solmate"]
	path = yul-erc1155/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "yul-erc1155/lib/openzeppelin-contracts"]
	path = yul-erc1155/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "gas-optimization/synthetix-optimization/lib/forge-std"]
	path = gas-optimization/synthetix-optimization/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "gas-optimization/synthetix-optimization/lib/openzeppelin-contracts"]
	path = gas-optimization/synthetix-optimization/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "gas-optimization/trader-joe-optimization/lib/forge-std"]
	path = gas-optimization/trader-joe-optimization/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "gas-optimization/trader-joe-optimization/lib/openzeppelin-contracts"]
	path = gas-optimization/trader-joe-optimization/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "gas-optimization/looks-rare-optimization/lib/forge-std"]
	path = gas-optimization/looks-rare-optimization/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "gas-optimization/looks-rare-optimization/lib/openzeppelin-contracts"]
	path = gas-optimization/looks-rare-optimization/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "gas-optimization/erc721-staking/lib/forge-std"]
	path = gas-optimization/erc721-staking/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
